body{
    background-color: #f2f2f2;
    margin: 0px;
    padding: 0px;
}

ul.menu{
    list-style-type: none;
    margin: 0px;
    padding: 15px;
    overflow: hidden;
    background-color: black;
    display: flex;
    justify-content: space-around;
    color: white;

}
a{
    text-decoration: none;
    color: white;
}

