body {
    background-color: lightgray;
    margin: 0px;
    padding: 0px;
}

ul.menu {
    list-style-type: none;
    margin: 0px;
    padding: 18px;
    overflow: hidden;
    background-color: black;
    display: flex;
    justify-content: flex-end;
    justify-content: center;
    justify-content: space-evenly;
    color: white;
    font-size: 16px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

}

ul.sub-menu {
    display: none;
    position: absolute;
    background-color: black;
    min-width: 80px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    padding: 12px 16px;
    z-index: 1;

}

ul.menu li {
    list-style: none;


}

ul.menu li:hover ul.sub-menu {
    display: block;
}


a {
    text-decoration: none;
    color: white;
}


div.footer {
    background-color: lightgray;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

img.logo {
    width: 100%;
    max-height: 600px;
    margin-top: -22px;

}

@media (max-width: 600px) {
    img.logo {
        max-height: 400px;
    }
}



h1.tekst_center {
    position: absolute;
    font-size: 30px;
    color: white;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', 'Geneva', Verdana, sans-serif;
    left: 42%;

}


@media only screen and (max-width: 768px) {
    h1.tekst_center {
        font-size: 24px;
        left: 34%;
    }
}

@media only screen and (max-width: 480px) {
    h1.tekst_center {
        font-size: 18px;
        left: 34%;
    }
}





.wp-image-62 {
    margin-left: 20px;
}



.teamleden-namen {
    text-align: center
}



hr.wp-block-separator {
    margin-top: 50px;
}

h2.wp-block-heading {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', 'Geneva', Verdana, sans-serif;
    font-size: 30px;
    color: black;
    margin-top: 35px;
}

p.tekst_toernooi {
    font-size: 20px;
    color: black;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', 'Geneva', Verdana, sans-serif;
    width: 100%;
    text-align: center;
    margin: 0 auto;
    max-width: 700px;
}

div.wp-block-buttons {
    display: flex;
    justify-content: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', 'Geneva', Verdana, sans-serif;
    color: black;

}

a.wp-block-button__link {
    background-color: black;
    color: white;
    padding: 10px;
    text-decoration: none;
    border-radius: 5px;
    font-size: 20px;
    margin: 10px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', 'Geneva', Verdana, sans-serif;
    margin-top: 35px;
}

@media (max-width: 768px) {
    p.tekst_toernooi {
        font-size: 18px;
    }

    a.wp-block-button__link {
        font-size: 18px;
        margin: 5px;
        margin-top: 30px;
    }
}


a.wp-block-button__link:hover {
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);

}


p.tekst_nieuws {
    font-size: 20px;
    color: rgb(9, 1, 1);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', 'Geneva', Verdana, sans-serif;
    width: 100%;
    text-align: center;
   padding-left:5px ;
    max-width: 700px;
    margin-top:65px ;
}

@media (max-width: 768px) {
    p.tekst_nieuws {
        font-size: 18px;
        padding-left: 0px;
        margin-top:35px ;
    }

}

img.wp-image-136{
    display: flex;
    max-height: 600px;
    margin-top: -22px;
   margin-left:1000px;
   margin-top:-275px;
  
}

/* Responsive styles */
@media (max-width: 1100px) {
    img.wp-image-136 {
        display: block;
        margin-left: auto;
        margin-right: auto;
        margin-top: 0;
    }
}


label{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    color: black;
    flex-direction: column;
}

input.submit_contact{
   margin-left:700px ;
  margin-top:-300px ;
  background-color: black;
  color: white;
  padding:10px ;
}

h1.contact{
   text-align: center;
    font-size: 30px;
    color: black;
    margin-top: 35px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

input.submit_contact:hover{
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    cursor: pointer;
}

Label.name{
    font-size: 20px;
   font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', 'Geneva', Verdana, sans-serif;
   
}
label.email{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', 'Geneva', Verdana, sans-serif; 
    font-size: 20px;
}


label.message{
    color: black;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', 'Geneva', Verdana, sans-serif; 
    font-size: 20px;
}

input.wpcf7-form-control{
    background-color: black;
    padding:10px ;
    color: white;

}