body{
    background-color: #f2f2f2;
    margin: 0px;
    padding: 0px;
}

ul.menu{
    list-style-type: none;
    margin: 0px;
    padding: 15px;
    overflow: hidden;
    background-color: black;
    display: flex;
    justify-content: space-around;
    color: white;

}
a{
    text-decoration: none;
    color: white;
}

div.test{
    background-color: blue;
    font-weight: bold;
    font-size: larger;
    letter-spacing: 0.4px;
    width: 400px;
    padding: 1cm;
    margin:1cm auto;
    border:solid 1px black;
    border-radius: 10px;
}


p{
    font-size: 20px;
    color: white;
    
}


